<div class="container">
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="Logo do BuzzFeed" />
    <h3 *ngIf="comecou">{{ titulo }}</h3>
  </div>
  <div *ngIf="comecou && !terminou" class="question">
    <h2>{{ questaoAtual?.question }}</h2>
  </div>
  <div *ngIf="comecou && !terminou" class="options">
    <button
      *ngFor="let opcao of opcoes"
      class="btn-option"
      (click)="opcaoEscolhida(opcao.alias)"
    >
      {{ opcao.name }}
    </button>
  </div>
  <div *ngIf="comecou && terminou" class="resultado">
    <h1>O seu resultado é:</h1>
    <p>{{ respostaQuizz }}</p>
  </div>
</div>
